@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  /* line-height: 1.1em; */
}

.main-container {
  width: 1200px;
  margin: 100px auto 100px auto;
  /* border: solid 2px pink; */
}

.main-container .brief-about {
  width: 250px;
  border-right: solid 2px #1E90FF;
  position: fixed;
  padding: 20px;
  z-index: 2;
  float: left;
}

.brief-about h1 {
  color: #1E90FF;
}

.brief-about a {
  text-decoration: none;
}

.brief-about .contact i {
  margin-top: 10px;
  font-size: 1.5em;
  padding: 0 10px 0 0;
}

.brief-about .contact i:hover {
  color: #1E90FF;
}
.brief-about .subscribe {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.subscribe li {
  font-weight: 700;
}

.subscribe li i {
  padding: 0 5px 0 0;
}
.subscribe li:hover {
  color: #1E90FF;
}
.main-container .content {
  margin-left: 290px;
  /* border: solid 2px #272727; */
}

.content .blog-brief {
  padding-left: 50px;
  padding-right: 50px;
}

.content .blog-brief .heading{
  text-decoration: none;
  color: #272727;
}

.content .blog-brief .timestamp{
  text-decoration: none;
  color: #272727;
  font-style: italic;
}

.content .blog-brief .brief{
  text-decoration: none;
  color: #272727;
}

.content .page {
  padding-left: 50px;
  padding-right: 50px;
}
