@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  /* font-size: 1em; */
  /* line-height: 1.1em; */
}

code {
  font-size: 20px;
  border-radius: 5px;
  /* border: solid black 1px; */
}

.main-container {
  width: 1200px;
  margin: 100px auto 100px auto;
  /* border: solid 2px pink; */
}

.main-container .brief-about {
  width: 250px;
  border-right: solid 2px #1E90FF;
  position: fixed;
  padding: 20px;
  z-index: 2;
  float: left;
}

.brief-about h1 {
  color: #1E90FF;
}

.brief-about a {
  text-decoration: none;
}

.brief-about .contact i {
  font-size: 24px;
  margin: 10px 10px 0 0;
}

.brief-about .contact i:hover {
  color: #1E90FF;
}
.brief-about .subscribe {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}

.brief-about .btn-chevron {
  display: none;
}

.subscribe li {
  font-weight: 700;
  margin: 10px 0;
  font-size: 16px;
}

.subscribe li i {
  padding: 0 5px 0 0;
}
.subscribe li:hover {
  color: #1E90FF;
}
.main-container .content {
  margin-left: 290px;
  /* border: solid 2px #272727; */
}

.content .blog-brief {
  padding-left: 50px;
  padding-right: 50px;
  color: #272727;
}

.content .blog-brief .heading{
  text-decoration: none;

}

.content .blog-brief .timestamp{
  text-decoration: none;
  /* font-style: italic; */
}

.content .blog-brief .brief{
  text-decoration: none;
}

.content .page {
  padding-left: 50px;
  padding-right: 50px;
}

@media only screen and (max-width: 980px) {
  .main-container {
    width: auto;
    margin: 0;
    padding: 50px;
    /* border: solid 2px pink; */
  }

  .main-container .brief-about {
    width: auto;
    margin: 0 auto 50px auto;
    position: static;
    border-right: none;
    border-bottom: solid 2px #1E90FF;
    padding: 20px;
    float:none;
    font-size: 24px;
    text-align: center;
  }

  .brief-about .name {
    margin: 5px;
  }

  .brief-about .btn-chevron {
    text-align: center;
    color: #1E90FF;
  }

  .brief-about #expand-brief {
    display: block;
  }

  .brief-about #contract-brief {
    display: none;
  }

  .brief-about .contact {
    display: none;
  }

  .brief-about .brief {
    display: none;
  }

  .brief-about .subscribe {
    display: none;
  }

  .brief-about .contact i {
    font-size: 24px;
    margin: 16px 16px 0 0;
  }

  .main-container .content {
    font-size: 24px;
    margin: auto;
    /* width: 100px; */
    /* border: solid 2px #272727; */
  }

  .content .page {
    margin: 0;
    padding: 0;
  }
}
